a {
  color: #00B9B3;
}

a:hover {
    color: #0a0a0a;
    cursor: pointer;
    text-decoration: underline;
}

button {
    background-color: #00B9B3;
    border: 1px solid #000;
    border-radius: .4rem;
    color: #000;
    text-align: center;
    text-decoration: none;
}

button:hover {
    color: #eee;
    cursor: pointer;
}

.h-flex {
    display: flex;
    flex-direction: row;
}

.v-flex {
    display: flex;
    flex-direction: column;
}

/* The main app area */
.App {
    margin: 1.6rem;
}

/* The button for adding a hawk */
.add-hawk-button {
    font-size: 1.2rem;
    margin: 0 0 .8rem 0;
    padding: .8rem;
    width: 10rem;
  }

/* The filter text area */
.filter-text {
    border: 1px solid #000;
    font-size: 1rem;
    margin-right: .8rem;
    padding: .4rem .8rem;
    width: 50%;
}

.filter-button {
    font-size: 1.2rem;
    width: 5rem;
}