.hawk-table {
    border-radius: .4rem;
    border-collapse: collapse;
    margin: 1.6rem 0;
    width: 100%;
}

.header-row th {
    text-align: left;
    padding: .4rem;
}

.data-row td {
    border: 1px solid #888888;
    border-radius: .4rem;
    padding: .4rem;
    color: blue;
}