.hawk-table {
    border-radius: .4rem;
    border-collapse: collapse;
    margin: 1.6rem 0;
    width: 100%;
}

.header-row th {
    border-bottom: 1px solid #aaaaaa;
    text-align: left;
    padding: .4rem;
}

.data-row td {
    border-bottom: 1px solid #dddddd;
    padding: .4rem;
    color: #080808;
}